body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 10px;
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    user-select: none;
    background-color: white;
}

.btn-theme {
    position: fixed;
    height: 21px;
    padding: 9px;
    border-radius: 15px;
    transition: 300ms;
    background-color: #d9d9d9;
    bottom: 30px;
    right: 30px;
}

#logo:hover {
    cursor: pointer;
}

/* SIDEBAR AND ELEMENTS UNDER */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #d9d9d9;
    height: auto;
    min-height: 90vh;
}

.dropdown-btn, .poem-link {
    max-width: 260px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    padding: 5px 18px 5px 18px;
    font-size: inherit;
    border-radius: 20px;
    transition: 300ms;
}

@media (hover: hover) {
.dropdown-btn:hover, .poem-link:hover {
    background-color: #c0c0c0 ;
}
.btn-theme:hover {
    background-color: #000000;
}
}

.dropdown-btn:active, .poem-link:active {
    background-color: #c0c0c0 ;
}

.dropdown-btn {
    background-color: #ebebeb;
}

.arrow {
    color:#333333;
    transition: 300ms;
}

.poem-link {
    color: #333333;
    background-color: white;
}

.dropdown-container {
    display: none;
    margin: none;
    padding: 0 0 0 18px;
    flex-direction: column;
    transition: 300ms;
}

/* The Active State when reading a poem */
.sidebar a.active {
    background-color: #000000;
    color: white;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

#logo {
    margin-bottom: 30px;
}

/* CONTENTS AND ELEMENTS UNDER */
.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#poem-image {
    max-width: 320px;
    height: auto;
    border: 9px solid white;
    border-radius: 21px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    display: none;
    object-fit: cover;
}

#poem-display {
    min-width: auto;
    white-space: pre-wrap; 
    line-height: 1.6;
    color: #212121;
}

/* PHONE SCREEN RULES */

* {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 600px) {

body {
    display: block;
    font-size: 1rem;
}

.sidebar {
    min-height:fit-content;
}

.dropdown-btn, .poem-link{
    max-width: 100%;
    width: auto;
}

.dropdown-container {
    padding-left: 30px;
}

.content {
    align-items: center;
}

#poem-image {
    max-width: 270px;
}

}
